.quadro {
  padding: 1em;
  border: 2px solid #936900;
  background-color: #F7D08A;
  border-radius: 1.5em;
  box-shadow: 0 0 15px #9D9272;
  margin-bottom: 2.3em;
}

h1 {
  margin-top: 0;
  text-align: center;
  font-size: 1.7em;
}

ul {
  list-style: none;
  padding-left: 0;
}